@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght300;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 21, 48);
    font-family: 'Poppins', sans-serif;
}
 span{
    font-size: 17px;
    font-weight: 800;
 }
ul{
    display: flex;
    flex-wrap: wrap;
}

ul li{
    list-style: none;
    margin: 0rem 1.4rem;
}

ul li a i{
    font-size: 35px;
    color: #700b0b;
    transition: 0.5s;
    padding-right: 1rem;
}

ul li a span{
    color:  #6b0707;
    letter-spacing: 2px;
    transition: 0.5s;
}

ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 13rem;
    height: 5rem;
    background: rgb(237, 173, 173);
    padding-left: 1.25rem;
    position: relative;
    transition: 0.5s;
}

ul li a::before{
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 1.25rem;
    background: #1d0505;
    transition: 0.5s;
    transform: skewY(-45deg);
}


ul li a::after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 1.25rem;
    width:100%;
    background: #1d0505;
    transition: 0.5s;
    transform: skewX(-45deg);
}


ul li:hover i{
    color: #0f0202;
}


ul li:hover span{
    color: #0f0202;
}


ul li:hover a::before{
    background: #8622c4;
}

ul li:hover a{
    box-shadow: -50px 20px 50px #4e250a;
    background: #776cb5;
    transform: translate(20px, -17px);
}

ul li:active a{
    box-shadow: -50px 20px 50px #df8447;
    background: #9389cb;
    transform: translate(20px, -17px);
}

/* ul:focus{
    background: #d035bc;
} */
/* .like:hover a,
.like:hover a::after,
.like:hover a::before{
    background: #d035bc;
}

.subscribe:hover a,
.subscribe:hover a::after,
.subscribe:hover a::before{
    background: #df7f7f;
}

.share:hover a,
.share:hover a::after,
.share:hover a::before{
    background: #80c019;
}


.comment:hover a,
.comment:hover a::after,
.comment:hover a::before{
    background: #215ba7;
} */

@media screen and (max-width: 1040px){
    ul{
        flex-direction: column;
    }
}

